app/assets/images/sets

*.zip
.github
.gitignore
*.pyc
__pycache__
*.pyo
*.pyd
.Python
env
venv
.venv
.pixi
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
htmlcov
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
dist
build
*.egg
.eggs
*.ipynb
.ipynb_checkpoints
*.log
.DS_Store
Thumbs.db
*.md
!README.md
environment.yaml
